<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Study Project</title>
    <link rel="stylesheet" href="theme.css">
    <!--    инлайн стили-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<!--Использование v-cloak-->
<div class="container" id="app" v-cloak>
    /* Стилизация с условием внутри */
    <div class="card center">
        <!--        Вывод div с html из файла app.js-->
        <div v-html="myHtml"></div>

        <div class="form-control">
            <input type="text" @keyup.enter="addItem" ref="myInput">
        </div>

        <!--        v-for без заранее предопределенного в data пустого массива-->
        <ul class="list" v-if="items.length">
<!--            Удаление так же можно осуществить через методы js-->
            <li class="list-item"
                v-for="(item, i) in evenItems"
                @click="remove(i)"
                :key="item"
            >
                <strong>{{item}}</strong>&nbsp;
<!--                @click.stop - Обеспечивает клик в инпуте без удаления уровнем выше-->
                <input type="text" @click.stop/>
            </li>
            <!--            <li class="list-item" v-for="(item, idx) in person">-->
            <!--                <strong>{{idx}}</strong> {{item}}-->
            <!--            </li>-->
        </ul>
<!--        v-show-->
<!--        <h3 v-else>Добавьте что нибудь!</h3>-->
        <h3 v-show="items.length === 0">Добавьте что нибудь!</h3>
        <!--        <h1 :style="{-->
        <!--        color: inputValue.length < 5 ? 'darkred' : 'darkblue',-->
        <!--        fontSize: inputValue.length < 5 ? '2rem' : '2.5rem'-->
        <!--        }">{{title}}</h1>-->
        <!--        <h1 v-text="title"></h1>-->
        <!--        <h2 v-text="title"></h2>-->
        <!--        v-once - когда нужно один раз вставить и вывести значение-->
        <!--        <h2 v-once>{{title}}</h2>-->
        <!--        v-pre - выводи как есть значение в теге-->
        <!--        <h2 v-pre>{{title}}</h2>-->
        <!--        <button class="btn" @click="title = 'Теперь другой title'">Изменить название</button>-->
        <div class="form-control">
            <input type="text"
                   :placeholder="placeholderString"
                   v-model="inputValue"
                   @keypress.enter="addNewNote"
            />
        </div>
        <button class="btn" v-on:click="addNewNote">Добавить</button>
        <hr/>
        <ul class="list" v-if="notes.length !== 0">
            <li class="list-item" v-for="(note, index) in notes">

                <!--                Применение динамического добавления классов-->
                <!--                <span :class="note.length > 5 ? 'primary' : 'bo'">{{toUpperCase(note)}}</span>-->
                <!--                <span :class="{'primary': true, 'bold': note.length > 5}">{{toUpperCase(note)}}</span>-->
                <span :class="['bold', {'primary': note.length > 5}]">{{toUpperCase(note)}}</span>

                <button class="btn danger" v-on:click="deleteNote(index)">Удалить</button>
            </li>
            <hr/>
            <li>
                <strong>Общее количество заметок: {{notes.length}}</strong> | Удвоенное: {{doubleCountComputed}}
            </li>
        </ul>
        <div v-else>Заметок пока нет. Добавьте заметку</div>
    </div>

</div>

<script src="https://unpkg.com/vue@next"></script>
<!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
<script src="app.js"></script>
</body>
</html>
